# pandas快速合并dataframe

- @作者：AFAN
- @时间：2024-11-15
- @B站：AFAN的费曼生活
- @微信：afan-life
- @github：https://github.com/AFAN-LIFE/AFAN-LIFE
- @知识星球（付费分享）：AFAN的金融科技
- *注：本分享来自于AFAN的公开分享，转载请注明出处

## 创建数组

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

D:\software\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [6]:
col, row = int(3e2), int(4e5)
size = col * row
times = 10

In [7]:
df = pd.DataFrame(np.arange(size).reshape(row, col))

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
1,300,301,302,303,304,305,306,307,308,309,...,590,591,592,593,594,595,596,597,598,599
2,600,601,602,603,604,605,606,607,608,609,...,890,891,892,893,894,895,896,897,898,899
3,900,901,902,903,904,905,906,907,908,909,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
4,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,119998500,119998501,119998502,119998503,119998504,119998505,119998506,119998507,119998508,119998509,...,119998790,119998791,119998792,119998793,119998794,119998795,119998796,119998797,119998798,119998799
399996,119998800,119998801,119998802,119998803,119998804,119998805,119998806,119998807,119998808,119998809,...,119999090,119999091,119999092,119999093,119999094,119999095,119999096,119999097,119999098,119999099
399997,119999100,119999101,119999102,119999103,119999104,119999105,119999106,119999107,119999108,119999109,...,119999390,119999391,119999392,119999393,119999394,119999395,119999396,119999397,119999398,119999399
399998,119999400,119999401,119999402,119999403,119999404,119999405,119999406,119999407,119999408,119999409,...,119999690,119999691,119999692,119999693,119999694,119999695,119999696,119999697,119999698,119999699
399999,119999700,119999701,119999702,119999703,119999704,119999705,119999706,119999707,119999708,119999709,...,119999990,119999991,119999992,119999993,119999994,119999995,119999996,119999997,119999998,119999999

## 低效合并

In [9]:
%%time
total_df = pd.DataFrame()
for _ in range(times):
    total_df = pd.concat([total_df, df])

CPU times: total: 6.22 s
Wall time: 10.9 s

In [10]:
total_df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
1,300,301,302,303,304,305,306,307,308,309,...,590,591,592,593,594,595,596,597,598,599
2,600,601,602,603,604,605,606,607,608,609,...,890,891,892,893,894,895,896,897,898,899
3,900,901,902,903,904,905,906,907,908,909,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
4,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,119998500,119998501,119998502,119998503,119998504,119998505,119998506,119998507,119998508,119998509,...,119998790,119998791,119998792,119998793,119998794,119998795,119998796,119998797,119998798,119998799
399996,119998800,119998801,119998802,119998803,119998804,119998805,119998806,119998807,119998808,119998809,...,119999090,119999091,119999092,119999093,119999094,119999095,119999096,119999097,119999098,119999099
399997,119999100,119999101,119999102,119999103,119999104,119999105,119999106,119999107,119999108,119999109,...,119999390,119999391,119999392,119999393,119999394,119999395,119999396,119999397,119999398,119999399
399998,119999400,119999401,119999402,119999403,119999404,119999405,119999406,119999407,119999408,119999409,...,119999690,119999691,119999692,119999693,119999694,119999695,119999696,119999697,119999698,119999699
399999,119999700,119999701,119999702,119999703,119999704,119999705,119999706,119999707,119999708,119999709,...,119999990,119999991,119999992,119999993,119999994,119999995,119999996,119999997,119999998,119999999

## 高效合并

In [11]:
%%time
total_df_list = []
for _ in range(times):
    total_df_list.append(df)
pd.concat(total_df_list, axis=0)

CPU times: total: 1.17 s
Wall time: 1.81 s

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
1,300,301,302,303,304,305,306,307,308,309,...,590,591,592,593,594,595,596,597,598,599
2,600,601,602,603,604,605,606,607,608,609,...,890,891,892,893,894,895,896,897,898,899
3,900,901,902,903,904,905,906,907,908,909,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
4,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,119998500,119998501,119998502,119998503,119998504,119998505,119998506,119998507,119998508,119998509,...,119998790,119998791,119998792,119998793,119998794,119998795,119998796,119998797,119998798,119998799
399996,119998800,119998801,119998802,119998803,119998804,119998805,119998806,119998807,119998808,119998809,...,119999090,119999091,119999092,119999093,119999094,119999095,119999096,119999097,119999098,119999099
399997,119999100,119999101,119999102,119999103,119999104,119999105,119999106,119999107,119999108,119999109,...,119999390,119999391,119999392,119999393,119999394,119999395,119999396,119999397,119999398,119999399
399998,119999400,119999401,119999402,119999403,119999404,119999405,119999406,119999407,119999408,119999409,...,119999690,119999691,119999692,119999693,119999694,119999695,119999696,119999697,119999698,119999699
399999,119999700,119999701,119999702,119999703,119999704,119999705,119999706,119999707,119999708,119999709,...,119999990,119999991,119999992,119999993,119999994,119999995,119999996,119999997,119999998,119999999